

body{

box-sizing: border-box;
padding: 0;
margin: 0;
min-height: 100%;

}

:root {

    --darkBlue:rgba(70,70,96,1.000);
    --tealGreen:rgba(54,139,133,1.000);
    --beige:rgba(180,184,151,1.000);
    --grey:	rgba(241,233,229,1.000);


}


@font-face {
    font-family: niceFontRegular;
    src: url("./B612Mono-Regular.ttf");
}

@font-face {
    font-family: niceFontBold;
    src: url(B612Mono-Bold.ttf);
}




header {

    font-family: niceFontBold;
    font-size: 1.5rem;
    grid-area: header;
    display:flex;
    min-width: 0;
    background:var(--darkBlue);
    justify-content: center;
    align-items: center;
}


.headerTitle{
background: var(--grey);
padding:.5rem;


} 





.navigationMenu ul{

    list-style: none;
    font-family: niceFontRegular;
    padding-left: 0;
    font-size: 1rem;
    background-color: var(--grey);
    

    
    
    
}

.navigationMenu li span{
    
    padding:1rem;
    

}

.navigationMenu li {

    display: flex;
    justify-content: center;
    align-items: center;
}


#content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    
    grid-template-areas: 

    "header header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"

      
  }

  nav {
    grid-area: nav;
    min-width: 120px;
    background: var(--tealGreen);
    
    
    display: flex;
    

  }

  .navigationMenu {

    justify-content: center;
    
   
  }

  main {
    padding:1rem;
    grid-area: main;
    
    background: var(--beige);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: left;
    font-family: niceFontRegular;
    overflow-x:hidden;
    overflow-y:auto;

  }

  .projectTodoContainer{
    display:flex;
    flex-direction: column;
    
    
    
   


}

  .projectTodoContainer h2 span{

    background: var(--grey);
    padding:.5rem;
    border: 2px solid var(--darkBlue);
    font-size: 2rem;
    border-radius: 15px;
    
  }

  .projectTodoContainer h2 {

    display: flex;
    justify-content: center;
    text-align: center;
  }

  .addProjectButtonDiv {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top:2rem;
  }

  .addProjectButton {
    
      height: 6rem;
      width: 6rem;
      vertical-align: middle;
       background-image: url('./images/add.png');
       background-repeat: no-repeat;
       background-size: contain;
  
    }
    
    
  

  .individualProjectContainer {
    
    background: var(--grey);
    padding:.5rem;
    border: 1px solid var(--darkBlue);
    display: grid;
    justify-items: center;
    align-items: center;
    
  }

  .projectsDiv {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    grid-template-rows: auto;
    gap:1rem;

  }

  .individualProjectContainer div{

    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .individualProjectContainer h3 {
    
    margin: 0;
    padding: 0;
    padding-top: .5rem;
  }

  

  .projectContainerButtons {

    display: flex;
    flex-direction: row;
    justify-self: space-around;
    
    gap:.75rem;
    
  }


  .projectContainerButtons .editButton {
    
    
   height: 3rem;
   width: 3rem;
   vertical-align: middle;
    background-image: url('./images/edit.png');
    background-repeat: no-repeat;
    background-size: contain;
   
  }

  .projectContainerButtons .deleteButton {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
     background-image: url('./images/delete.png');
     background-repeat: no-repeat;
     background-size: contain;

  }

  .projectContainerButtons .addTodoButton {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
     background-image: url('./images/add.png');
     background-repeat: no-repeat;
     background-size: contain;

  }


 

  
  .addProjectInputs {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem;
    

  }

  .addProjectInputs input {

    width: 9rem;
  }

  .projectPopupFormContainer {
    
    
    display:flex;
    width:350px;
    height:auto;
    justify-content: center;
    
    

  }

  .projectForm h1 {

display:flex;
justify-content: center;
background: var(--grey);


  }

  .projectFormButtons {
display: flex;
justify-content: center;
gap:1rem;
padding:1.5rem;

  }
  .projectForm {

    padding:1rem;
    background: var(--darkBlue);
    border-radius: 35px;
  }

  .projectForm label {


    background: var(--grey);
  }

 
  .editProjectHeader h3{

    margin-bottom:2rem;


  }
  
  
  
  
  @media only screen and (max-width: 600px) {
    

    #content {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
        
        grid-template-areas: 
    
        "header header header header header"
        "nav nav nav nav nav"
        "main main main main main"
        "main main main main main"
        "main main main main main"
    
          
      }
    


  } 



  



  


