@font-face {
    font-family: niceFontRegular;
    src: url("./B612Mono-Regular.ttf");
}

@font-face {
    font-family: niceFontBold;
    src: url(B612Mono-Bold.ttf);
}

header {

    font-family: niceFontBold;
    font-size: 2rem;
}

.navigationMenu ul{

    list-style: none;
    font-family: niceFontRegular;
}